<a href="https://colab.research.google.com/github/OYanez85/BigData_Noves_Eines_-_Estrategies_-Cibernarium-/blob/main/Copy_of_1_Python1_Tipos_de_variables_y_operadores_PRACTICA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 1: Tipos de variables y operadores

**EJERCICIOS:**

En primer lugar, introduciremos unos conceptos básicos muy útiles para cualquier ejercicio.
* **Comentarios:** Si queremos poner un comentario explicativo que no sea parte del código, solo tenemos que poner el simbolo # delante de nuestro texto

In [ ]:
#Esto es un ejemplo de comentario

* **Ejecutar una celda:** Para ejecutar una celda en los notebooks de Google Colab solo tenemos que hacer la combinación de teclas Ctrl+Enter, para ejecutar una celda y quedarnos en ella, o Shift+Enter para ejecutar una celda y pasar a la siguiente. Shift+Enter es muy útil para ejecutar una celda tras otra.

A partir de ahora ejecuta los ejemplos siguientes para ver su funcionamiento.

* **Definir una variable:** Una variable es un sitio en el que guardar una información determinada. Recordemos que en Python no hace falta indicar qué gaurdaremos en la variable, ,dependiendo de si lo que guardamos en ella es un número entero, un decimal o una cadena de texto entre otros, la variable será de un tipo u otro. Cada variable tiene que tener un nombre, y asignaremos lo que queramos guardar en ella mediante el simbolo =

In [ ]:
#definimos una variable llamada var1 del tipo int (número entero)
var1 = 3

#comprobamos de que tipo es
type(var1)

In [ ]:
#definimos una variable llamada color del tipo string (cadena de texto)
color = 'amarillo'

#comprobamos de que tipo es
type(color)

* **Pedir al usuario un dato:** Si queremos que al ejecutar un programa éste nos pida información para ser introducida por el usuario, debemos usar la función input e indicar previamente de que tipo será la variable que introduzca el usuario a no ser que sea un string. Es una buena práctica dejar un espacio al final de la quote que hagas para pedir el dato o escribir \n para crear una nueva línea.

In [ ]:
#Para introducir un entero
age = int(input('Cuántos años tienes? '))

#Para introducir una string
name = input('Cómo te llamas?\n')

Ahora hemos guardado la información proporcionada por el usuario en las variables indicadas.

* **Imprimir información:** Es muy útil siempre que estemos programando imprimir los resultados que vamos obteniendo para ver si lo estamos haciendo bien. Para imprimir el output usamos la función print. Con ella podemos imprimir tanto texto (siempre entre comillas) como variables, intercalando la información con comas. En este caso no hará falta indicar de que tipo son las variables que imprimamos.

In [ ]:
print('El usuario tiene', age, 'años y se llama', name)

Una vez tenemos clara esta información inicial, pasamos a los ejercicios. Deberéis imprimir el output de todos ellos para verificar que lo estáis haciendo correctamente.

**Ejercicio 1**
Definir una variable de cada tipo de los que hemos visto: int, float, string, list, dictionary y luego comprobar el tipo del que son mediante la función type(variable)

In [ ]:
a=3
b=4.5
c='hola'
d=[1,2,3,4]
e={'clave1':1, 'clave2':2}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>

**Ejercicio 2**
Pide al usuario dos números y luego calcula su suma e imprímela

In [ ]:
numero1=float(input('introduce los dos numeros'))
numero2=float(input())
print(numero1+numero2)

introduce los dos numeros3.1
4.2
7.300000000000001

**Ejercicio 3**
Calcula el área de un triangulo equilátero de base=8cm y altura=3cm. Recuerda que la fórmula para calcular el área de un triangulo equilátero es base por altura entre 2.

In [ ]:
base=8
altura=3
print((base*altura)/2)

12.0

**Ejercicio 4**
Pide un número entero al usuario y averigua si es par o impar con una sola operación. Recuerda que para hacer la división y ver el residuo de un valor se usa el operador %.

In [ ]:
#ejemplo
residuo = 5%3
print(residuo) #el valor es igual a 2 porque la división entre 5 y 3 da como cociente 1 y residuo 2

In [ ]:
numero=int(input('introduce un numero'))
if numero%2==0 :
  print('El numero es par')
else :
  print('El numero impar')

introduce un numero13
El numero impar

**Ejercicio 5**
Intercambia los valores de dos variables, haz que lo que contenga la variable x esté en la variable y y lo que está en la variable y esté en la x.

In [ ]:
#Definimos variables
x = 'Hello'
y = 3
x,y=y,x
print(x)
print(y)

3
Hello

**Ejercicio 6**
Consigue que todas las palabras que se encuentran en distintos strings se encuentren en un solo string que forme una frase

In [ ]:
#Definimos las palabras
word1 = '¿Qué '
word2 = 'prefieres '
word3 = 'para '
word4 = 'desayunar?'

In [ ]:
print(word1 + word2 + word3 + word4)

¿Qué prefieres para desayunar?

**Ejercicio 7**
Pon en un comentario el resultado que crees que saldrá de cada comparador y luego ejecuta y comprueba

In [ ]:
print(9>=2 or 132<128) #True
print(3 in [1,4,5,32] and 1==1) #False
print(9+3*2+1 == 25) #False
print(24%2 == 0) #True
print(15//2 == 7.5) #False
print(2**3 != 8) #False

True
False
False
True
False
False

**Ejercicio 8** Para encontrar el máximo de una lista podemos usar la función max(), pero en este caso lo encontraremos de una forma distinta y comprobaremos que lo hayamos hecho bien con la función max(). Encuentra el máximo entre las listas list1 y list2: Dadas dos listas list1 y list2 concatenalas, luego ordena la lista resultante mediante la función .sort() y quédate con el último elemento que será el máximo.

In [ ]:
list1 = [6, 13, 8, 21]
list2 = [2, -50, 25]

In [ ]:
list3 = list1 + list2
list3.sort()
print(list3[-1])
print(max(list3))

25
25

**Ejercicio 9** Añade la palabra 'Fin' al final de la lista obtenida en el apartado anterior mediante la función .append(). Y añade en la posición 2 de la misma lista la string 'Posición 2' mediante la función .insert()

In [ ]:
list3.append('Fin')
list3.insert(1, 'Posicion 2')
print(list3)

[-50, 'Posicion 2', 2, 6, 8, 13, 21, 25, 'Fin']

**Ejercicio 10** Accede al primer elemento de la lista obtenida en el apartado anterior

In [ ]:
print(list3[0])

-50

**Ejercicio 11** Guarda en una lista llamada first3 los tres primeros elementos de la lista del apartado anterior y en otra lista llamada last3 los 3 últimos elementos.

Recuerda que para seleccionar un trozo de una lista lo podemos indicar de la siguiente manera: Si quiero obtener de la posición 2 a la 5 de mylist los seleccionaré haciendo mylist[2:5]. Si queremos indicar el primer o el último elemento no hace falta poner nada en ese lugar, con mylist[:] obtendríamos todos los elementos de la lista.

In [ ]:
first3=list3[0:3]
print(first3)

[-50, 'Posicion 2', 2]

**Ejercicio 12**
Para ordenar una lista, tenemos la función lista.sort() y la función sorted(lista). Con la función .sort() ordenamos la lista a la que aplicamos la función de manera permanente. Con la función sorted() hacemos una copia ordenada de la lista. Por defecto, estas funciones ordenan de menor a mayor en caso de ser números y en orden alfabético en caso de tener strings. Pero podemos colocar la expresion reverse=True dentro del parentesis de las funciones de orden, con la que el orden será el inverso.

Ordena la lista my_list de menor a mayor y haz una copia de esta ordenada de mayor a menor usando las funciones acabadas de explicar.

In [ ]:
list1 = [6, 13, 8, 21]
list2 = [2, -50, 25]
list3 = list1 + list2
list3.sort()
listaordenada=sorted(list3)
print(listaordenada)

[-50, 2, 6, 8, 13, 21, 25]

**Ejercicio 13**
Dado el siguiente diccionario, responde a las siguientes preguntas:

In [ ]:
#Definimos el diccionario

dict1 = {'name' : 'Britney Spears',
         'born' : 1981,
         'profession' : 'singer'}

* En que año nació Britney Spears?

In [ ]:
print(dict1.get('born'))

1981

* Añade al diccionario el país en el que nació Britney Spears

In [ ]:
dict1['city'] = 'London'
print(dict1)

{'name': 'Britney Spears', 'born': 1981, 'profession': 'singer', 'city': 'London'}

* Cambia la profesión de 'singer' a 'dancer'

In [ ]:
dict1['profession'] = 'dancer'
print(dict1)

{'name': 'Britney Spears', 'born': 1981, 'profession': 'dancer', 'city': 'London'}

**Ejercicio 14**
Crea un diccionario con las notas que ha sacado Pepito en Matemáticas, Lengua, Química y Historia (inventadas) y devuelve su mejor nota.

In [ ]:
dictNotes = {'Matematicas': 8,
             'Lengua': 5,
             'Quimica': 7,
             'Historia': 3}
print(max(dictNotes.values()))

8

Usando las funciones sum(list) y len(list), calcula la media de las notas de Pepito.

In [ ]:
media=sum(dictNotes.values()) / len(dictNotes.values())
print('La nota media es', media)

La nota media es 5.75