<a href="https://colab.research.google.com/github/OYanez85/BigData_Noves_Eines_-_Estrategies_-Cibernarium-/blob/main/Copy_of_ClassicModels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio ClassicModels MySQL

## Instalación MySQL y descarga e instalación de módulos en el entorno python

Este proceso de instalación puede tardar entre 1 y 2 minutos. PACIENCIA. Se trata de instalar un servidor MySQL en la máquina virtual, no siendo necesario conectarse a ningún otro servicio.

In [ ]:
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';"
!pip3 install mysql-connector-python
# !pip3 install sqlalchemy
!pip3 install sqlalchemy --upgrade 'sqlalchemy<2.0'

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 38.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.28)
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.52-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 25.2 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.28
    Uninstalling SQLAlchemy-2.0.28:
      Successfully uninstalled SQLAlchemy-2.0.28
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.52 which is incompatible.
Successfully installed sqlalchemy-1.4.52

In [ ]:
!mysql -V

mysql  Ver 8.0.36-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))

## Montar Drive y setear PATH
En el menú laterial izquierdo, seleccionamos la carpeta y allí pulsamos sobre la carpeta de drive y seguimos los pasos correspondientes.

Posteriormente, buscamos nuestra carpeta y copiamos el path de la que contiene todos los archivos que estamos trabajando y incluimos ese path como variable DRIVE_PATH.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
DRIVE_PATH = r"C:\Users\oscar\OneDrive\Desktop\SQL"

## Importación librearías mysql y sqlalchemy
Una vez instalados los módulos en nuestro entorno, es necesario que las importemos al notebook. **Importaremos sqlalchemy y, como no, pandas.**

In [ ]:
# sqlalchemy create_engine
import sqlalchemy
# from sqlalchemy import text
# pandas
import pandas as pd
# mysql
import mysql
import time

## Instanciamos el motor de gestión de la base de datos

Cualquier consulta o actuación que hagamos a la base de datos debe canalizarse a través de una "conexión" de un "engine" o motor de sqlalchemy. La instancia del "engine" debe realizarse indicando la cadena de conexión correspondiente. La cadena es un string que le indica al "engine" cuál es la base de datos, cuál es el conector, el usuario que lo va a utilizar y dónde se encuentra alojado.

- cadena_conexion --> mysql+mysqlconnector://usuario_mysql:password_mysql@sevidorMySQL/bbdd
- con --> conexión del engine create_engine(cadena).connect()

Vamos a trabajar con bases de datos que hemos creado en la propia máquina virtual, con lo que el string de conexión es muy sencillo:

- Servidor: localhost
- Base de datos: por ahora nada, la crearemos después
- Usuario: root
- Contraseña: root

In [ ]:
# cadena de conexión
sCadenaConexion = f"mysql+mysqlconnector://root:root@localhost"

# instanciamos engine como resultado de create_engine
con = sqlalchemy.create_engine(sCadenaConexion).connect()
time.sleep(2)

## Creación de tablas e inserción de datos
Vamos a crear las tablas con los datos correspondientes ejecutando dos archivos SQL a través de SQLAlchemy.

In [ ]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (1.4.52)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [ ]:
fSQL = open(DRIVE_PATH + "C:\Users\oscar\OneDrive\Desktop\SQL\01_SQL_Cars_Models\sql_classicmodels")
aSQL = fSQL.read().split(";\n")
for sSQL in aSQL:
  if sSQL != "": con.execute(sqlalchemy.text(sSQL));
  time.sleep(3)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-20-3981fad9ecaf>, line 1)

In [ ]:
con.execute("use nuclio_classicmodels");
time.sleep(1)
# con.execute(sqlalchemy.text("use nuclio_classicmodels"));
# time.sleep(1)

<ipython-input-19-c5aa1dbf0f9d>:1: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  con.execute("use nuclio_classicmodels");

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1049 (42000): Unknown database 'nuclio_classicmodels'
[SQL: use nuclio_classicmodels]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
result = con.execute("show databases")
for row in result:
  print(row)

In [ ]:
fSQL = open(DRIVE_PATH + "/sql_classicmodels/Esquema.sql");
aSQL = fSQL.read().split(";\n");
for sSQL in aSQL:
  if sSQL != "": con.execute(sqlalchemy.text(sSQL));
  time.sleep(1)

In [ ]:
fSQL = open(DRIVE_PATH + "/sql_classicmodels/Data.sql");
aSQL = fSQL.read().split(";\n");
for sSQL in aSQL:
  if sSQL != "": con.execute(sqlalchemy.text(sSQL));
  time.sleep(1)

In [ ]:
result = con.execute("show tables")
for row in result:
  print(row)

## SELECT, OPERACIONES BÁSICAS Y FILTROS
Vamos a entender cómo funciona la SELECT a nivel básico.

El lenguaje SQL es case insensitive, por lo que puede escribirse tanto en mayúsculas como en minúsculas, incluidos los nombres de las columnas en MySQL (depende del motor de BBDD).

### Lista el apellido y nombre de los empleados (formato Apellido, Nombre en un mismo campo), así como su email y cargo.
- Tabla Employees

In [ ]:
query = """
  SELECT.........
"""
pd.read_sql(query, con)

### Ordénalos por orden alfabético de apellido, nombre y el e-mail
- Tabla Employees

### Lista los productos (código, nombre, línea, escala y cantidad) que corresponden a la escala 1:18

### Y de los que son escala 1:18, ahora busca los que pertenecen al proveedor "Classic Metal Creations"

### De los productos, lista únicamente aquellos que sabemos que son "Corvette" por su nombre y ordénalos por cantidad en stock ascendiente.

La cláusula LIKE permite realizar búsquedas por patrones (cuidado con la versión de MySQL que puede que algunos patrones no estén todavía habilitados).

- % significa cualquier carácter (p.e. n% cualquier palabra que empiece por n)
- _ significa que debe existir un carácter cualquiera (p.e. l__ sería los, las, les, lis...)

A partir de aquí se pueden combinar estas "wildcards".

Por otro lado, tenemos las búsquedas case sensitive/in-sensitive, es decir, búsquedas que deben respetar las mayúsculas o no. Puede ser que no queramos interpretar U como u. Los tipos de fuentes NO binarios, son no sensitivas, mientras que los tipos binarios sí que lo son. Si queremos que sea sensitiva, deberemos forzar el tipo de dato en la búsqueda a través del operador BINARY.

- Utilizar BINARY antes de la operación lógica (p.e. LIKE BINARY "maYúsCulas")

Eso sí, si un campo es susceptible de requerir búsquedas sensibles, lo mejor es alterar su definición para que sea del tipo binaria.

### Listar los proveedores/fabricantes (vendors) únicos de los productos ordenados alfabéticamente

### Listar los proveedores postales de los clientes (únicos)

- Tabla customers

### Cuanta los códigos postales únicos de los clientes

- Tabla customers

### Cuenta el número total de clientes

- Tabla customers

### Cuenta el número de clientes con un límite de crédito entre 60.000 y 70.000

### Lista las ciudades y países únicos en los que la empresa tiene clientes, por orden ascendente de país y ciudad
- Tabla customers
- Por favor, concatena la ciudad y el país con una coma.

### Cuenta el número de clientes que han realizado un pedido o más

- ¿Cuántas formas hay de hacerlo?

### Lista los clientes que NO han realizado ningún pedido y que NO son de USA.

- ¿se puede hacer con las mismas opciones que antes?
- ¿hay alguna otra manera de hacerlo más allá que con el IN?

### Listar los pedidos que se han hecho en el 2005 y que ya han sido enviados

1. Investigar qué status existen y ver si pueden sernos útiles
2. Por curiosidad, miremos el mínimo y máximo de fechas de los pedidos
3. Veamos si existen otros campos que puedan sernos de utilidad
4. Decidamos cómo hacer la búsqueda solicitada

## GROUP BY
Agrupaciones y operaciones

### Calcular el número de empleados por cargo
- Tabla employees
- Ordenado ascendente por nombre del cargo

## Número de empleados por cargo ordenados de más a menos número
- Tabla employees

### Listar el número de proveedores (vendors) que tenemos, así como el número de productos distintos y el stock total para cada proveedor, ordenador por nombre del proveedor.

- Formatear la cantidad para que aparezca el punto de miles y con céntimos de euro vía coma (FORMAT(num,numDec,locale) 'es_ES'

### Lista de proveedores (vendors) con más de 35000 unidades en stock ordenados por nombre de proveedor

### Listar el número de pedidos por año y status que NO han sido enviados

### Número de clientes por país para países con más de 5 clientes, de más cantidad a menos

### Promedio de límite de crédito por país del cliente para los clientes que tienen límite > 0
- Tabla customers
- Hacer que el promedio sea un número entero
- Ordenar de menor a mayor crédito promedio
- Incluir el número de clientes que forman parte de ese promedio

En función de la versión de MySQL, el casting tiene tipos de datos distintos. En Google Colaboratory trabajamos con 5.7, donde no existe INT y se utiliza SIGNED.

## JOIN

### Lista cada empleado (nombre, apellido), con la ciudad y código postal de su oficina.

### De los anteriores, selecciona sólo los que están en la oficina de San Francisco.

### Lista los clientes y su país, que no han hecho ningún pedido
- Ahora con la unión correspondiente
- Ordena por país

### Ranking de productos más vendidos por año y por país
- Incluir el nombre de la familia de cada producto

### Calcula el número promedio de productos, de unidades y el gasto medio por pedido de los clientes de USA.

### Qué clientes nos deben dinero y cuánto
- Tenemos que saber cuánto hemos facturado a cada cliente
- Tenemos que saber cuánto ha pagado cada cliente

#### Y ahora con la cláusula WITH si tenemos versión 8.0 de MySQL
https://dev.mysql.com/doc/refman/8.0/en/with.html

In [ ]:
sSQL = """
  WITH
  pedidos AS (
    SELECT o.orderNumber, COUNT(DISTINCT od.productCode) AS numProductos, SUM(od.quantityOrdered) AS numUnidades, SUM(od.priceEach * od.quantityOrdered) AS precioPedido
    FROM orders AS o
    INNER JOIN orderdetails AS od
    USING (orderNumber)
    INNER JOIN customers AS c
    USING (customerNumber)
    WHERE c.country = "USA"
    GROUP BY orderNumber
  )
  SELECT ROUND(AVG(numProductos),0) AS numProductosPromedio, ROUND(AVG(numUnidades),0) AS numUnidadesPromedio, ROUND(AVG(precioPedido),0) AS precioPromedio
  FROM pedidos
"""
pd.read_sql(sSQL, con)